.short-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}
.short-user__image {
    border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: auto;
    max-height: 150px;
    img {
        width: 100%;
    }
}
.short-user__link {
    text-align: center;
}